.header {
  grid-area: header;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 100%;
}

.loginBlock {
  padding: 20px;
}
.loginBlock a{
  color: crimson;
  font-weight: 900;
}